body {
    text-align: center;
}

input {
    border: none;
    border-radius: 8px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.matrix-button {
    background-color: #FFCC66;
}

.crop-image-button {
    background-color: #CC66FF;
}

.matrix-button:hover, .crop-image-button:hover {
    background-color: #555555;
}
